In [5]:
print("###########################")
print("WELCOME TO DBS")
print("###########################")

list1 = []
freq = {}
num = int(input("\n1Input the number of elements to be stored in the list:  "))
print("Input the %d  elements in the list" % num)
for i in range(0, num):
  print("Element - %d" %i, end=": ")
  num_list = int(input())
  list1.append(num_list)
for j in list1: 
  if j in freq:
    freq[j] += 1
  else:
    freq[j] = 1
print("\n The frequency of all elements of the list: \n")
for i in freq:
  print("%d occurs %d times" %(i, freq[i]))
#print (freq)
#print(list1)

###########################
WELCOME TO DBS
###########################

1Input the number of elements to be stored in the list:  5
Input the 5  elements in the list
Element - 0: 1
Element - 1: 1
Element - 2: 2
Element - 3: 3
Element - 4: 3

 The frequency of all elements of the list:

1 occurs 2 times
2 occurs 1 times
3 occurs 2 times